<div class="container-fluid"> 
  <div class="row">
    <div class="col-12">
      <div class="card-trustr">
        <h1><%= @product.name %></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-trustr card-header text-center">
          <h6>FIABILITE</h6>
          <div class="score-square text-center" > <%= @product.indicators_trusted_count %> / <%= @product.indicators.count  %></div>
        </div>
        <div class="card-body">
          <% @product.indicators.each_with_index do |indicator, index| %>
            <div class="mt-2 d-flex align-items-top">
              <div class="cercle-<%=indicator.trusted? ? 'green' : 'red'%> mr-2 mt-1"></div>
              <div class="font-weight-bold"><%= indicator.title.capitalize %> </div> 
              <div>&nbsp;: <%= indicator.content %> </div>
            </div>
            <% if index+1 != @product.indicators.size %>
              <hr/>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card" >
        <div class="card-trustr card-header text-center">
          <h6>AVIS CLIENTS</h6>
        <% if @product.reviews != [] %>
          <div class="score-square text-center" > <%= @product.rating %> / 5 </div>
        <% else %>
          <p> Aucun avis clients trouvés </p>
        <% end %>
        </div>
        <div class="card-body">
        <% if @product.reviews != [] %>
          <% @product.reviews.each_with_index do |review, index| %>
            <div class="mt-2">
              <p class="font-weight-bold"><%= review.title %></p>
              <p class="text-justify"><%= review.description %><p>
              <p class="font-italic"><%= review.date %><p>
            </div>
            <% if index+1 != @product.reviews.size %>
              <hr/>
            <% end %>
          <% end %>
        <% else %>
          <p> Nous n'avons pas trouvé d'avis sur cette entreprise. Vous pouvez tout de même rechercher des avis par vous même sur des plateformes alternatives. Lorsque vous vous trouverez sur ces plateformes, insérez simplement le lien, où le nom de la marque recherchées dans la barre de recherche. </p>
          <ul>
            <li><a href="https://www.google.fr/maps/"> Google maps </a></li>
            <li><a href="https://fr.trustpilot.com/"> Trust Pilot </a></li>
            <li><a href="https://www.avis-verifies.com/index.php?page=mod_annuaire"> Avisvérifiés.com </a></li>
            <li><a href="https://www.trustedshops.fr/shops/"> Trustedshops.fr </a></li>
            <li><a href="https://fr.custplace.com/"> Custplace.com </a></li>
          </ul>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="center-bloc-newresearch">
  <a href=<%=root_path%> class="mt-2 card-trustr btn btn-flat btn-brown"> Nouvelle Recherche </a>
</div>